:root{
/** AQUI VAN LAS VARIABLES O CUSTOMPROPERTIES QUE SE USARAN **/
--blanco: #ffffff;
--negro: #000000;
--gris: #e1e1e1;
--gris-texto: #a09e9e;
--gris-parrafo: #837c7c;
--primario: rgb(197, 199, 63);
--hover: rgb(209, 212, 20);
--gradient: rgba(0, 0, 0,0.7);
--gradient-banner: rgba(0, 0, 0, 0.6);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:after,*:before{
    box-sizing: inherit;
}

/* helpers */
.container{
    width: min(90%, 110rem);
    margin: 0 auto;
}
.no-margin{
    margin:0
}
.no-padding{
    padding:0;
}
.padding-seccions-2{
    padding: 2rem;
}
.center-text{
    text-align:center;
}
.content-title {
    color: var(--gris-texto);
    text-transform: uppercase;
    font-size: 2.1rem;
    padding-bottom: 2rem;
}
.border-dashed{
    border-bottom: 2px dashed var(--gris-texto);
    margin-bottom: 2rem;
}
.boton{
    padding:1.5rem;
    background-color: var(--primario);
    color: var(--blanco);
    text-transform: uppercase;
    font-size:1.6rem;
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
.boton:hover{
    background-color: var(--hover);
    /* font-size:1.4rem; */
}

.titulo-h3{
    color: var(--primario);
    font-size: 1.6rem;
    text-transform: uppercase;
}

a{
    text-decoration:none;
}

img{
    width: 100%;
}
body{
    background-color: var(--gris);
}
/* Navbar */
.navbar{
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    padding:4rem;
    width:100%;
    flex-direction: column;
    
}
@media (min-width: 768px)
{
    .navbar {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.navbar__enlace{
    color:var(--negro);
    font-size: 1.6rem;
    text-transform:uppercase;
    margin-right: 5rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .navbar__enlace {
        margin-bottom: 0;
    }
    
}
.navbar__enlace:hover{
    color: var(--primario);
}
.navbar__enlace--active{
    color: var(--primario);
}


/* Header */
.header{
    
    height: 60rem;
    background-size: cover;
    background-image: url(../img/hotel_fachada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.header__nombre{
    text-align: center;
    color: var(--blanco);
    background-color: var(--gradient);
    width:auto;
    padding: 1.5rem 2rem;
    
}
.header__titulo{
    padding-top: 1.1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.header__description{
    font-size: 1.6rem;
}

@media (min-width: 768px){
    .header__nombre {
        position: absolute;
        left: 10rem;
        top: 30rem;
        text-align: unset;
    }
    .header__titulo{
        padding: 0;
    }

}

/* Contenido principal */
.contenido-principal{
    margin-top:-4rem;
    height: auto;
    background-color: var(--blanco);
}
.banner {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
}
@media (min-width:768px){
    .banner {
        grid-template-columns: repeat(3, 1fr);
        row-gap: unset;
        column-gap: 2rem;
    }
}

.banner__contenedor{
    position: relative;
    padding: 1.5rem;
    height: 20rem;
    background-image: url(../img/hotel_fachada.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner__contenedor__texto {
    height: 11rem;
    padding: 2rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: var(--gradient-banner);
    color: var(--blanco);
}
.banner__contenedor__texto__title{
    margin-bottom: 1rem;
     font-size: 1.6rem;
     word-spacing: .2rem;
     text-transform: uppercase;
}

.banner__contenedor__texto__link{
    color: var(--primario);
    text-transform: none;
    font-size: 1.8rem;
    text-transform: capitalize;
}
.banner__contenedor__texto__link span{
    display: inline-block;
    vertical-align: middle;
}


.banner__contenedor--1{
    background-image: url(../img/hotel_fachada2.jpg);
    background-size: cover;
    background-position: center right;
}

.banner__contenedor--2 {
    background-image: url(../img/habitacion.jpg);
    background-size: cover;
    background-position: center center;
}

.banner__contenedor--3 {
    background-image: url(../img/comida.jpg);
    background-size: cover;
    background-position: center right;
}

/* descripcion del hotel */
/* .description__hotel{
    padding: 2rem;
} */

.contenedor__description__image{
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .contenedor__description{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.contenedor__description__text{
    color: var(--gris-texto);
    font-size: 1.6rem;
}

/* Contenedor rooms */
/* .contenedor__rooms{
    padding: 2rem;
} */
.info__text{
    color: var(--gris-texto);
    font-size: 1.6rem;
}
.room img{
    height: 17rem;
}
@media (min-width: 768px){
    .contenedor__rooms__info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }
}


/*Seccion de Restaurantes y comidas*/



/*Seccion de contacto*/
.contacto {
    display: grid;
    column-gap: 2rem;
}
.contacto h3{
    color: var(--gris-texto);
    font-size: 2rem;
}
.contacto__contenido{
    font-size: 1.6rem;
    color: var(--gris-parrafo);
}

@media (min-width: 768px){
    .contacto {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem ;
    }
}
.formulario{
    width: 80%;
    margin: 0 auto;
    font-size:1.8rem;
    color: var(--gris-parrafo);
}
@media (min-width: 768px){
    .formulario{
        width: 100%;
    }
    .formulario__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.campo_formulario--textarea {
    display: block;
    grid-column: 1 / 3;
    
}
.formulario__inputs label{
    display:block;
    margin: 1.5rem 0 .5rem 0;
}
.campo_formulario input{
    display:block;
    width: 100%;
    padding: 1rem;

}

textarea{
    display: block;
    width:100%;
    padding: 2rem 0;
    resize:vertical;
}

.campo_formulario input,
.campo_formulario textarea {
    border: none;
    background-color: var(--gris);
    color: var(--gris-parrafo);
    outline:none;
}

.boton-enviar {
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
    width: 100%;
}
@media (min-width: 768px){
    .campo_formulario input {
        width: 80%;
    }
    textarea {
        width: 91%;
        
    }
    .boton-enviar{
        width: 15rem;
    }
}


/* Seccion de Footer */
.footer{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 3rem;
}
.footer p{
    font-size: 1.8rem;
}